@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

// color variants
@import 'colors.scss';
@import 'size.scss';

/** Base **/
body, html, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Albert Sans', 'Roboto', sans-serif;
  background-color: $paper;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100%;
}

/** CardChart **/
.App .AppCard > div {
  position: relative;
  z-index: 5;
}

.App .AppCard {
  position: relative;
}

.App .AppCard.normal {
  height: 170px;
}

.App .AppCardSkeleton:last-child {
  padding-bottom: 15px;
}

.App .AppCard.normal .MuiCardHeader-root {
  padding-bottom: 10px;
}

.App .AppCard .AppCardAvatar.Small {
  width: 30px;
  height: 30px;
}

.App .AppCard .AppCardAvatar.Small svg {
  font-size: 18px;
}

.App .AppCard:after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  z-index: 1;
  top: -85px;
  right: -95px;
}

.App .AppCard:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -76px;
  right: 27px;
  opacity: 0.5;
}

.App .AppCard.primary {
  background-color: $primaryMain;
  color: white;
}

.App .AppCard.primary .AppCardAvatar {
  background-color: $primary800;
  color: white;
}

.App .AppCard.primary:after {
  background-color: $primary800;
}

.App .AppCard.primary:before {
  background-color: $primary800;
}

.App .AppCard.secondary {
  color: white;
  background-color: $secondaryMain;
}

.App .AppCard.secondary .AppCardAvatar {
  background-color: $secondary800;
  color: white;
}

.App .AppCard.secondary:after {
  background-color: $secondary800;
}

.App .AppCard.secondary:before {
  background-color: $secondary800;
}

.App .AppCard.blue {
  background-color: $paper;
}

.App .AppCard.blue .AppCardAvatar {
  background-color: $primaryDark;
  color: white;
}

.App .AppCard.blue:after {
  background-color: $primary200;
  bottom: -144px;
  right: -144px;
  top: auto;
}

.App .AppCard.blue:before {
  background-color: $primary200;
  top: -105px;
  right: -27px;
}

.App .AppCard.yellow {
  background-color: $paper;
}

.App .AppCard.yellow .AppCardAvatar {
  background-color: $yellowLight;
  color: $yellowDark;
}

.App .AppCard.yellow:after {
  background-color: $yellowMain;
  bottom: -144px;
  right: -144px;
  top: auto;
}

.App .AppCard.yellow:before {
  background-color: $yellowMain;
  top: -105px;
  right: -27px;
}

.App .AppCard.success .AppCardAvatar {
  background-color: $successDark;
  color: white;
}

.App .AppCard.success:after {
  background-color: $success200;
  opacity: 0.5;
  top: -3px;
  right: -164px;
}

.App .AppCard.success:before {
  background-color: $successMain;
  top: -87px;
  right: -50px;
}